* {
   list-style-type: none;
   box-sizing: border-box;
}
html,
body {
   height: 100vh;
   font-family: sans-serif;
   background-color: #6394ef;
}
.container {
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.todo {
   &__container {
      background-color: #0b1174;
      width: 80%;
      height: 80%;
      border-radius: 20px;
      padding: 20px;
      display: flex;
      justify-content: center;
      align-items: start;
      text-align: center;
   }
   &__body {
      width: 60%;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: start;
   }
   &__title {
      font-size: 50px;
      font-weight: 800;
      color: #fff;
   }
   &__input-container {
      display: flex;
      gap: 5px;
      width: 60%;
      height: 30px;
      margin: 0 auto 20px;
   }
   &__input {
      outline-color: #fff;
      width: 80%;
   }
   &__btn {
      background-color: #ff0000;
      width: 20%;
      cursor: pointer;
      border: none;
      color: #fff;
      &:hover {
         opacity: 0.5;
      }
   }
   &__list {
      width: 60%;
      margin: 0 auto;
   }
   &__item {
      color: #fff;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &:not(:last-child){
         margin-bottom: 10px;
      }
      button{
         cursor: pointer;
         background-color: #343b16;
         color: #bde90f;
         border-radius: 5px;
      }
   }
}
